.custom-calendar {
    box-shadow: 0 1em 3em rgba(156, 136, 255,0.2);
  }
  
  .custom-today-day {
    color: #2C65C8 !important;
    border: 1px solid #2C65C8 !important;
  }
  
  .custom-today-day::after {
    visibility: hidden; 
  }